
@page {
    size: A4 landscape;
    page-break-after: always;  
}


*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    margin-top: 13mm;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3mm;
    padding-top: 3mm;
    padding-right: 3mm;
    font-family: Arial;
    margin: auto;
    width: 257mm;
    height: 180mm;
    max-height: 180mm;
    border: 0.8mm solid black;
    font-size: 4mm;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-item{
    text-align: center;
    width: 70mm;
}

.header-item-content{
    color: #4141A5;
    font-weight: bold;
    margin: 10mm;
    text-align: center;
}


.header-item-text{
    font-size: 2.5mm;
}


.watermark {
    position: absolute;
    position: absolute;
    top: 42%;
    left: 30%;
    transform: translate(-50%, -50%);
    max-width: fit-content;
    transform: rotate(335deg);
    font-size: 46px;
    color: rgb(192, 189, 189);
    z-index: -1;
  }
  

.body{
    margin: auto;
}
.body-content{
    text-align: justify;
    line-height: 2;
}

.body-date{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5mm;
}



.signature-body{
    display: flex;    
    flex-direction: row;
    align-items: end;
    height: 60mm;
    justify-content: space-around;
}

.signature-local{
    max-width: 90mm;
    min-width: 90mm;
    text-align: center;
    border-bottom: 0.5mm  solid black;
}

.signature-info{
    max-width: 90mm;
    min-width: 90mm;
    height: 25mm;
    text-align: center;
}

.validity-date{
    text-align: center;
    font-size: 4mm;
}

.info{
    margin: auto;
    width: 257mm;
    text-align: center;
    color: #4141A5;
}

.verso-body{
    
}

.verso-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;
    margin: auto;
    width: 247mm;
    height: 190mm;
    font-size: 5mm;
    font-weight: bold;
    padding-top: 18mm;
}

.verso-title{    
    text-align: center;
    font-size: 7mm;
}

.verso-subtitle{
    font-weight: bold;
}

.verso-content-item{
    padding-top: 2mm;
}

.verso-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

