<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Default</title>
    <!--Style A4-->
    <!--https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/-->
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div>AUTORIZAÇÃO PARA TRABALHOS EM INSTALAÇÕES 
                ELÉTRICAS </div>
        </div>
        <div class="body">
            <div class="section">
                <div class="section-title">Empresa:</div>
                <div class="section-text">{{company.corporateName}}</div>
            </div>
            <div class="section">
                <div class="section-title">Responsável Técnico:</div>
                <div class="section-text">
                    Igor de Brito Coura
                    <br>CREA-SP: 5071471660
                    <br>RNP: 2622607881
                    <br>Engenheiro de Segurança do Trabalho
                </div>
            </div>
            <div class="section">
                <div class="section-title">Dados do Empregado:</div>
                <div class="section-text"> 
                    Nome: {{employee.name}}
                    <br>Cargo: {{position.name}}
                    <br>CPF: {{employee.idcard.cpf}}
                </div>
            </div>
            <div class="section">
                <div class="section-title">Qualificação Técnica:</div>
                <div class="section-text">Definições:</div>
                <div class="section-text"><strong>Habilitado</strong> é o profissional com formação técnica ou superior nas áreas afins em instituição reconhecida pelo Ministério da Educação, registrado e regularizado no conselho da classe (CREA). </div>
                <div class="section-text"><strong>Qualificado</strong> é o trabalhador com formação técnica ou superior nas áreas afins em instituição reconhecida pelo Ministério da Educação, mas não tem seu registro em conselho de classe (CREA).</div>
                <div class="section-text"><strong>Capacitado</strong> é o trabalhador que não tem formação técnica ou superior nas áreas afins e que, conforme o item10.8.3, precisa receber a capacitação e trabalhar sob a responsabilidade de profissional Habilitado e Autorizado pela CONTRATANTE. 
                </div>
                    <div class="section-option">   
                    <div id="opt-sem-ele">(  ) Sem interação com eletricidade  </div>
                    <div id="opt-capacitado">(  ) Capacitado </div>
                    <div>( ) Qualificado</div>
                    <div>( ) Habilitado</div>      
                </div>            
            </div>
            <div class="section">
                <div class="section-title">
                    Treinamentos
                </div>
                <div class="section-text">
                NR – 10: Básico          
                </div>
            </div>
            <div class="section">                
                <div class="section-title">
                    Autorização 
                </div>
                <div class="section-text">
                Os treinamentos apresentados habilitam o trabalhador para atividades nível 1 e 2, conforme tabela abaixo.
                <br><br>Salienta -se a necessidade de apresentação de curso de NR 10 e de reciclagem do curso de NR 10 a cada 2 anos.
                

                <br><br>Escopo das atividades contempladas:
                <div class="section-check">
                    <div class="section-check-img">✓</div>
                    <div>
                        Avaliam o ativo imobilizado em serviços para fins de composição da base de remuneração regulatória (BRR).
                    </div>
                </div>
                <div class="section-check">
                    <div class="section-check-img">✓</div>
                    <div>
                        Inspecionam ativos, elaboram inventários físicos e estudo de dados disponíveis na área de projeto e operações.
                    </div>
                </div>
                <div class="section-check">
                    <div class="section-check-img">✓</div>
                    <div>
                        Inspecionam ativos, elaboram inventários físicos e estudo de dados disponíveis na área de projeto e operações.
                    </div>
                </div>
                <div class="section-check">
                    <div class="section-check-img">✓</div>
                    <div>
                        Atualizam as bases de dados de ativos do inventariado.
                    </div>
                </div>
                <br><br>É de responsabilidade da empresa e do empregado a veracidade e atualização das informações acima citadas, zelar pela segurança pessoal e patrimonial e seguir cabalmente todos os procedimentos. 

                <br><br>De acordo com a NR 10 em seu subitem 10.8 o profissional acima identificado está autorizado a desempenhar suas atividades nas instalações até a data do vencimento do contrato ou do vencimento dos treinamentos obrigatórios (o que ocorrer primeiro, o que acarretará na perda da validade desta autorização) e dentro da abrangência assinalada a seguir:
                </div>
                <div class="tab">
                    <img style="width:150mm; " src="img\tabela.jpg" > 
                </div>

                
                
            </div>
            <div class="data">
                São Paulo, {{complementaryInfo.FullDatePtBr}}
            </div>
            <span id="signing-option" style="display:none;">{{Employee.DocumentSigningOptions.Id}}</span>
            <div class="signature-body">
                <div>
                    <div class="signature-local">
                        <img style="height:25mm; float: start; visibility: visible;" src="img\Ass.png">
                    </div>
                    <div class="signature-info">
                        Igor de Brito Coura<br>
                        Eng. Segurança do Trabalho<br>
                        CREA-SP: 5071471660
                    </div>
                </div>
                <div>
                    <div class="signature-local">
                        <img style="height:32mm; float: start; visibility: visible;" src="img\assinatura_jamildo.png" class="ass-jamildo">
                    </div>
                    <div class="signature-info">
                        {{company.corporateName}}
                    </div>
                </div>
                <div>
                    <div class="signature-local">
                        <div id="digital-signature" class="signed-content" style="display:none;">
                            <img class="signed-icon" src="img\icon_assinatura.png">
                            <div class="signed-text">
                                <span class="signed-label">Assinado digitalmente pelo:</span>
                                <span class="signed-name">{{employee.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="signature-info">
                        {{employee.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

    <!-- Div invisível com o cargo do empregado -->
    <div id="position-name-valor" style="display:none;">{{position.name}}</div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var signingId = document.getElementById('signing-option').textContent.trim();
            if (signingId !== '1') {
                document.getElementById('digital-signature').style.display = '';
            }
        });
    </script>
</html>

